@import "helpers";
@import "satellizer";

$main-bg-dark: #ABB3AE;
$main-color: #383838;
$body-bg-color: white;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $body-bg-color;
}

// Page stuffs
.right {
  border-left: 2px solid;
}

.controls {
  margin-bottom: 10px;
}

.section {
  margin-top: 10px;
  border-top: solid 2px;
}

.about {
        line-height: 180%;
        margin-bottom: 40px;
}

// Package stuffs
.package {
    height: 20px;
    margin-bottom: 5px;
    width: 200px;
    background: gray;
}

.install {
  font-size: 120%;
  padding: 10px;
  background-color: darken($main-bg-dark, 8%);
  @include display-flex;

  .action {
    display: none;
    text-align: center;
    padding-top: 18px;
    padding-right: 10px;
  }
  code {
    @include flex(1);
    background: $main-color;
    color: white;
    padding: 20px;
  }

  @media only screen and (min-width: 500px) {
    .action { @include flex(2); display: block; }
    code { @include flex(8); }
  }
}

// injector
@import '_helpers.scss';
@import '_satellizer.scss';
// endinjector
