<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://packages.nim-lang.org">
        <span class="glyphicon glyphicon-home"></span> Nim Packages
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li class="active"><a ui-sref="packages.list">Packages</a></li>
        <li class="active"><a ui-sref="tags.list">Tags</a></li>

        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle>Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="admin.licenses">Licenses</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
